body{
    background-color: #201e1e73;
    background-image: url('../img/projo1.jpg');
    background-blend-mode: darken;    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;    
}
.nav-wrapper{
    background-color: #201e1e73;
    background-image: url('../img/projo.jpg');
    background-blend-mode: darken; }
.nav-wrapper a{
    font-family: 'Oi',cursive;
    color: #ddfa23;
}
input{
    width: 90%;
    color: white;
}
.main{
    height: 90vh;

    
    background-size: cover;
    background-color: #000000;
    background-blend-mode: darken;
    border-radius: 20px;
    padding: 2%;
}
#row-body::-webkit-scrollbar{
    display: none;

}
#row-body {
    -ms-overflow-style:none;
    scrollbar-width: none;
    height: 90%;
    overflow-y: auto;
}
.card-image img{
    transition: 0.3s;
}
.card-image img:hover{
    scale: 1.2;
}
.overlay {
    position: relative;
    bottom: 0;
  background-size: cover;
    overflow: hidden;
    width: 100%;
  
    transition: .5s ease;
  
  }

  .overlay2 {
    position: absolute;
    bottom: 0;
    right: -15%;
  background-size: cover;
    overflow: hidden;
    width: 15%;
    height: 92%;
    transition: .5s ease;
    background-color: black;
    padding: 1%;


  }


  .col:hover .overlay2 {
right: 0;
margin-bottom: 1%;

  }

  .text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  white-space: nowrap;
  word-wrap: break-word;
  text-align: center;
}

.text2 {
    color: white;
    font-size: 20px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #key{
    position: relative;
    top: 0;
    left: 0;
  }
  




* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.active {
    background: #f8f8f8;
    background-image: url('../img/projo1.jpg');
}
#toggle {
    position: relative;
    display: block;
    margin-left: 0px;
    margin-bottom: 650px;
    width: 150px;
    height: 65px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px px rgba(0,0,0,0.1)
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle.active {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 60px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0.8px 40px rgba(0,0,0,0.5),
                inset 0 4px px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;            
}
#toggle.active .indicator {
    left: 100px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0.8px 20px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
           
}